- content_for :title, "#{@team.name} | National federation of the blind maharashtra - pune region"

%h1 Information about #{@team.name}
%p
  %b Title: 
  = @team.post
%br
%p
  = raw @team.information

%br
\|
= link_to 'Back', root_url
