<strong Hi Admin, </strong>
<br/>
<br/>
<p>
A member <%= @scr.member_name %> is asking scribe to your organisation for <%= @scr.type_of_exam %> . Their for, kindly see the belows exam details provided by member, and take essential action.
</p>
<h2> Details of the exam provided by member: </h2>
<table>
  <tbody>
    <th> Member Name </th>
    <th> Exam start date </th>
    <th> Exam end date </th>
    <th> Exam start time </th>
    <th> Exam ending time </th>
    <th> Type of exam </th>
    <th> Medium of the exam </th>
    <th> Type of scribe member expecting </th>
    <th> Mode of exam </th>
  <tr>
    <td> <%=@scr.member_name %> </td>
    <td> <%= @scr.exam_start_date %> </td>
    <td> <%= @scr.exam_end_date %> </td>
    <td> <%= @scr.exam_start_time %> </td>
<td> <%= @scr.type_of_exam %> </td>
    <td> <%= @scr.medium_of_exam %> </td>
    <td> <%= @scr.what_type_of_scribe %> </td>
    <td> <%= @scr.mode_of_exam %> </td>
</tr>
</table>
<h2> Address of the exam center </h2>
<table>
  <tbody>
    <th>Address </th>
    <th> </th>
    <th> City </th>
    <th> Pin </th>
    <th> State </th>
  <tr>
    <td> <%= @scr.address_1 %>
    <td> <%= @scr.address_2 %> </td>
    <td> <%= @scr.city %> </td>
    <td> <%= @scr.pin %> </td>
    <td> <%= @scr.state %> </td>  </tr>
</table>
<br/>
<br/>
<strong> Regards, <br/> Pune blind federation team. </strong>

<h3>Pradhaan office address:</h3>
<br>
The National Federation of the Blind, Maharashtra
<br>
Rachanatmak karya samiti, Gandhi Chowk, R.S. Road, Vile Parle (West), Mumbai 400056.
<br>
Phone:
<a href='tel:02226140916'>022-26140916</a>
<br>
E-mail:
<a href='mailto:nfbmah@gmail.com?Subject=Hello%20' target='_top'>nfbmah@gmail.com</a>
<br>
<h3>Address for Pune branch:</h3>
<br>
<i>The National Federation of the Blind, Maharashtra - pune branch</i>
<br>
Block B - 13 , Nehru Stadium , Swargate Pune - 411009
<br>
Phone:
<a href='tel:02024445494'>020-24445494</a>
<br>
E-mail:
<a href='mailto:nfbmpune15@gmail.com?Subject=Hello%20' target='_top'>nfbmpune15@gmail.com</a>

<br/>
<b> *** This is system generated email, please do not reply to it. </b>