<strong> Hello Sir / Madam, </strong>
<br/>
<br/>
<p>
Your name nominated for the scribe through our website (http://www.nfbmpune.org). If this is done   by you or you've done  through other, then kindly note the belows exam details for your reference.
<br/>
<table>
  <tbody>
    <tr>
      <th> Name of the candidate </th>
      <th> Candidate mobile </th>
      <th> Candidate email </th>
      <th> Type of exam </th>
      <th> Mode of the exam </th>
      <th> Medium of the exam </th>
      <th> Start date of exam </th>
      <th> End date of exam </th>
      <th> Starting time for the exam </th>
      <th> Ending time of the exam </th>
    <tr>
      <td> <%= @scrb.member_name %> </td>
      <td> <%= @scrb.member_mobile %> </td>
      <td> <%= @scrb.member_email %> </td>
      <td> <%= @scrb.type_of_exam %> </td>
      <td> <%= @scrb.mode_of_exam %> </td>
      <td> <%= @scrb.medium_of_exam %> </td>
      <td> <%= @scrb.exam_start_date %> </td>
      <%= @scrb.exam_end_date %> </td>
      <td> <%= @scrb.exam_start_time %> </td>
      <td> <%= @scrb.exam_end_time %> </td>
</tr>
<table>
</p>
<strong> Please note that, </strong>
<br/>
<p>
If you are not able to come on above mention dates / timings, then please let us know through phone / email.

</p>
<strong> Regards, <br/> Pune blind federation team. </strong>



<h3>Pradhaan office address:</h3>


<br>


The National Federation of the Blind, Maharashtra


<br>


Rachanatmak karya samiti, Gandhi Chowk, R.S. Road, Vile Parle (West), Mumbai 400056.


<br>


Phone:


<a href='tel:02226140916'>022-26140916</a>


<br>


E-mail:


<a href='mailto:nfbmah@gmail.com?Subject=Hello%20' target='_top'>nfbmah@gmail.com</a>


<br>


<h3>Address for Pune branch:</h3>


<br>


<i>The National Federation of the Blind, Maharashtra - pune branch</i>


<br>


Block B - 13 , Nehru Stadium , Swargate Pune - 411009


<br>


Phone:


<a href='tel:02024445494'>020-24445494</a>


<br>


E-mail:


<a href='mailto:nfbmpune15@gmail.com?Subject=Hello%20' target='_top'>nfbmpune15@gmail.com</a>




<br/>

<b> *** This is system generated email, please do not reply to it. </b>
