= simple_form_for @scribe, :html => { :class => 'form-horizontal' } do |f|
  = f.input :first_name
  = f.error_span :first_name
  = f.input :last_name
  = f.error_span :last_name
  = f.input :email
  = f.error_span :email
  = f.input :mobile
  = f.error_span :mobile
  = f.input :qualification
  = f.error_span :qualification
  = f.input :type_join, :label => "What would you like to become with us",  :collection => ["Scribe", "Volunteer", "Both"], as: :radio_buttons
  = f.error_span :type_join
  = f.submit "Register", :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-default'
