- content_for :title, " Listing donations"
%h1 Listing donations

%table.table
  %thead
    %tr
      %th Donar name
      %th Donar email
      %th Donar mobile
      %th To project
      %th How did you find us
      %th Donation comment
      %th

  %tbody
    - @donations.each do |donation|
      %tr
        %td= donation.donar_name
        %td= donation.donar_email
        %td= donation.donar_mobile
        %td= donation.to_project
        %td= donation.how_did_you_find_us
        %td= donation.donation_comment
        %td= link_to 'Destroy', donation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


