= simple_form_for([@member, @serviceinfo]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :member_braille_books_circulating_library
    = f.input :self_employment_aid
    = f.input :scholarship_student_aid_scheme
    = f.input :member_of_braille_jagriti_magazine
    = f.input :placement_services
    = f.input :medical_aid
    = f.input :counselling_services
    = f.input :any_others


  .form-actions
    = f.submit "Next"
