%h1 Change role of #{@user.member.personalinfo.first_name.capitalize + ' ' + @user.member.personalinfo.last_name.capitalize}
= simple_form_for changerole_path, method: :put do |f|
  %div{"role" => "form"}
    .form-inputs
      - if @user.role == 'member'
        = select_tag "role", options_for_select(["admin", "clerk"]), :prompt => "Select role"
      - elsif @user.role == 'admin'
        = select_tag "role", options_for_select([ "clerk", "member"]), :prompt => "Select role"
      - elsif @user.role == 'clerk'

        = select_tag "role", options_for_select(["admin",  "member"]), :prompt => "Select role"


    .form-action
      = submit_tag "Change role"
      = link_to 'Back', members_path
