%h2 Circculars for office berrors / executive members
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c8 != nil
      - @c8.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url

%table
  %thead
    %tr
      %th Short discription of circular
      %th
      %th
      %th

  %tbody
    - @circulars.each do |circular|
      %tr
        %td= circular.circular_discription
        %td= link_to 'Show', circular
        %td= link_to 'Edit', edit_circular_path(circular)
        %td= link_to 'Destroy', circular, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if user_signed_in?
  - if current_user.role == 'admin'
    = link_to 'New Circular', new_circular_path
