- content_for :title, "All circulars | National federation of the blind maharashtra - pune region"
%h1 All circulars
%h2 Banking circulars
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c1 != nil
      - @c1.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circular related to Consessions, schemes, and various allowances
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c2 != nil
      - @c2.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Disability certification circulars
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c3 != nil
      - @c3.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Educational Circulars
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c4 != nil
      - @c4.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circulars for Government employees
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c5 != nil
      - @c5.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circular issued by maharashtra government
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c6 != nil
      - @c6.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circular issued by mahanagar palika
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @cp != nil
      - @cp.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circular issued by panchayat
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c7 != nil
      - @c7.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br
%h2 Circular issued by zilla parishad
%table
  %thead
    %tr
      %th Short Discription about circular
      %th Action
  %tbody
    - if @c8 != nil
      - @c8.each do |c|
        %tr
          %td= c.circular_discription
          %td= link_to "Download this circular", c.attachment_url
%br

- if user_signed_in?
  - if current_user.role == 'admin'

    = render 'circu'

